body {
	background-color: #eeeeee;
	font-family: 'Source Sans Pro';
}

html {
	scroll-behavior: smooth;
}


.container {
	border-radius: 5px;
}

.checkout-img-frame {
	max-height: 300px;
	max-width: 300px;
	border-radius: 10px;

}

.checkout-img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.harga {
	color: #f62121;
	font-weight: bold;
}


.container .btn-orange {
	background-color: #ff7800;
	color: white;
	font-weight: bold;
	width: 100%;
}

.pesanan-container .delivery-option {
	border: 1px solid green;
	background-color: white;
	opacity: 1;

}

.modal-body .badge-alamat {
	background-color: rgb(164, 236, 164);
	color: rgb(3, 70, 3);

}

.modal-body .ubah-alamat {
	color: green;
	text-shadow: 1px 1px 1px rgb(202, 202, 202);
}


.modal-body .btn-tambah-alamat {
	height: 80px;
	width: 100%;
	margin: auto;
	font-size: 20px;
}
