.navbar-brand .navLogo {
	height: 50px;

}

.navbar {
	border-bottom: 3px solid #dddd;
	box-shadow: 1px 1px 10px #dddd;
	font-family: 'Source Sans Pro';

}

.navbar .navbar-nav .nav-item .nav-link {
	font-weight: 700;
}

.phone-nav .nav-icon {
	color: black;
	font-size: 18px;

}


@media only screen and (max-width: 599px) {
	.navbar .input-group {
		max-width: 200px;
		left: 3;
		margin-right: 20px;
	}
}

@media only screen and (min-width: 600px) {

	.navbar .input-group {
		width: 550px;
		margin-right: 50px;
		padding-left: 50px;
	}

	.navbar .nav-item .dropdown-item:hover {
		background-color: rgb(63, 63, 63);
	}
}
