.navbar-brand .navLogo {
	height: 50px;

}

.navbar {
	border-bottom: 3px solid #dddd;
	box-shadow: 1px 1px 10px #dddd;
	font-family: 'Source Sans Pro';

}

.navbar .navbar-nav .nav-item .nav-link {
	font-weight: 700;
}

.phone-nav .nav-icon {
	color: black;
	font-size: 18px;

}


@media only screen and (min-width: 600px) {
	.navbar .form-inline .search-input {
		width: 600px;
	}

}

@media only screen and (max-width: 599px) {
	.navbar .form-inline .search-input {
		width: 200px;
		margin-left: 0;
	}

}
