@media only screen and (min-width: 600px) {
	.regist-box {
		width: 30vw;
	}

}

body {
	background: url('./assets/img/bg/bgregist.jpeg');
	background-repeat: no-repeat;
}

label {
	font-weight: bold;
}

.regist-box .form-container {
	background: #dddddd;
	border-radius: 20px;
	height: 250px;
}

.regist-box .form-control {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	border-bottom: solid 1px rgba(128, 128, 128, 0.699);
	background-color: #dddddd;

}

.regist-box .form-control:focus {
	border-top: none;
	outline: none;
	box-shadow: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	border-bottom: solid 1px rgba(128, 128, 128, 0.699);
	background-color: #fffdfd;

}

.regist-box .btn-daftar {
	width: 100%;
	background-color: #2b2a2a;
	color: white;
	font-weight: 600;
}

.regist-box .btn-login {
	width: 100%;
	background-color: #3a9070;
	color: white;
	font-weight: 600;
}

.regist-box {
	background-color: #ffffff;
	border-radius: 50px;


}
